*.zip
*.txt
*.yaml

__pycache__
flaskenv
data
schedules

.dockerignore
.env
.hintrc

Dockerfile
make_dc.py
filter_schedule.py
make_game.py
make_game.html
make_dc.html

trivia_catagories.json
static/dests/1.py
static/schedule/