.hud-bottom-right {
    position:fixed;
    right: 0;
    bottom: 0;
    margin-right: 30px;
}

.hud-bottom {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.hud-top {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
}